{% extends 'web/new/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'web/new/css/pikaday.css' %}">

{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url "index" %}">Главная</a></li>
    <li><a href="{% url "house_relation_list" %}">Информация о ремонтах МКД</a></li>
    <li><a href="#">Добавление информации о ремонте МКД</a></li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>Добавление информации о ремонте МКД</h1>
            </div>

            <div class="col-xs-12">
                <form id="add-mkd" data-bind="submit: submit">
                    <div class="row">
                        <div class="col-xs-5">
                            <div data-bind="validationElement: house">
                                <select class="width100" data-bind="
                                value: house,
                                options: houseNumbers,
                                optionsText: 'name',
                                optionsCaption: 'Выберите дом',
                                dropdown: houseNumbers,">
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-1">
                            <a class="add-house-btn" href="#" data-bind="click: openAddMkd">+</a>
                        </div>
                    </div>

                    <div class="row margin-top">
                        <div class="col-xs-5">
                            <div data-bind="validationElement: dueYear">
                                <select class="width100" data-bind="value: dueYear, options: dueYears, optionsCaption: 'Год сдачи МКД', dropdown: dueYears,">
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- ko foreach: houses -->

                        <!-- ko if: $index() != 0 -->
                            <div class="row margin-top-large">
                                <div class="col-xs-5">
                                    <h1>Дочерний дом</h1>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-xs-6">
                                    <input class="input" placeholder="Название дома" data-bind="value: name">
                                </div>

                                <div class="col-xs-2">
                                    <a class="add-house-btn" href="#" data-bind="click: $parent.removeChildHouse">удалить</a>
                                </div>
                            </div>

                            <div class="row margin-top">
                                <div class="col-xs-5">
                                    <div data-bind="validationElement: dueYear">
                                        <select class="width100" data-bind="value: dueYear, options: $parent.dueYears, optionsCaption: 'Год ремонта', dropdown: $parent.dueYears,">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        <!-- /ko -->

                    <div class="row margin-top">
                        <div class="col-xs-12">
                            <h2>Контракт служба контроля</h2>
                        </div>
                    </div>

                    <div class="row margin-top">
                        <div class="col-xs-5">
                            <div data-bind="validationElement: supervisorContract">
                                <select class="width100" data-bind="value: supervisorContract, options: $parent.supervisorContracts, optionsText: 'name', optionsCaption: 'Номер контракта СК', dropdown: $parent.supervisorContracts," >
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-6 col-xs-offset-1">
                            Заполните информаци о договорах с подрядными организациями, осуществляющими работы по строительному контролю и строительно-монтажные работы.
                        </div>
                    </div>

                    <div class="row margin-top">
                        <div class="col-xs-5">
                            <div data-bind="validationElement: supervisorPerson">
                                <select class="width100" data-bind="value: supervisorPerson, options: supervisorPersons, optionsText: 'name', optionsCaption: 'Ответственный', dropdown: supervisorPersons, attr: { 'disabled': supervisorPersons().length == 0 },">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-top">
                        <div class="col-xs-12">
                            <h2>Контракт строительно-монтажные работы</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-5">
                            <div data-bind="validationElement: workContract">
                                <select class="width100" data-bind="value: workContract, options: $parent.workContracts, optionsText: 'name', optionsCaption: 'Номер контракта СМР', dropdown: $parent.workContracts,">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-top">
                        <div class="col-xs-5">
                            <div data-bind="validationElement: workPerson">
                                <select class="width100"  data-bind="value: workPerson, options: workPersons, optionsText: 'name', optionsCaption: 'Ответственный', dropdown: workPersons, attr: { 'disabled': workPersons().length == 0 },">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-top">
                        <div class="col-xs-12">
                            <h2>Ответственный ФКР</h2>
                        </div>
                    </div>

                    <div class="row margin-top">
                        <div class="col-xs-5">
                            <div data-bind="validationElement: fkrInspector">
                                <select class="width100"  data-bind="value: fkrInspector, options: $parent.fkrInspectors, optionsText: 'name', optionsCaption: 'Инспектор ФКР', dropdown: $parent.fkrInspectors, attr: { 'disabled': $parent.fkrInspectors().length == 0 },">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-top">
                        <div class="col-xs-12">
                            <h2>Типы работ</h2>
                        </div>

                        <div class="col-xs-5">
                            <!-- ko foreach: workTypes -->
                            <div class="row" data-bind="css: {'margin-top': $index() > 0}">
                                <div class="col-xs-3 work-type" data-bind="text: name"></div>
                                <div class="col-xs-3">
                                    <input class="input datepicker" type="text" id="datepicker3" placeholder="Дата начала" data-bind="value: from, datepicker, attr: { disabled: !active() }">
                                </div>
                                <div class="col-xs-3">
                                    <input class="input datepicker" type="text" id="datepicker4" placeholder="Дата окончания" data-bind="value: to, datepicker, attr: { disabled: !active() }">
                                </div>


                                <!-- ko if: false -->
                                <div class="col-xs-3">
                                    <!-- ko if: !active() -->
                                        <a data-bind="click: $parent.toggleWorkType" class="add-house-btn" href="#">исключить</a>
                                    <!-- /ko -->
                                    <!-- ko if: active() -->
                                        <a data-bind="click: $parent.toggleWorkType" class="add-house-btn" href="#">включить</a>
                                    <!-- /ko -->
                                </div>
                                <!-- /ko -->
                            </div>
                            <!-- /ko -->
                        </div>

                        <div class="col-xs-6 col-xs-offset-1">
                            Заполните информацию о типах работ проводимых на объекте. Заполните только поля соответствующие проводимым типам работ.<br><br>
                            Если определнный тип работ на объекте не проводится — оставьте соответствующие поля пустыми.
                        </div>
                    </div>

                    <!-- /ko -->

                    <div class="row margin-top">
                        <div class="col-xs-12 margin-top js-link">
                            <a href="#" data-bind="click: addChildHouse">Добавить дочерний дом</a>
                        </div>
                    </div>

                    <div class="row  margin-top">
                        <div class="col-xs-12 margin-top">
                            <button class="button filled" type="submit" form="add-mkd" value="Submit" data-bind="attr: { 'disabled': !submitIsActive()} ">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <div data-remodal-id="addMkd">
        <!-- ko with: window.addMkdViewModel -->
            <!-- ko if: activePage() == 1 -->
            <div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>Выберите управленческий округ</h1>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row table">
                        <!-- ko foreach: administrativeDistricts -->
                        <div class="col-xs-12 table-item">
                            <div class="row">
                                <div class="col-xs-12">
                                    <a href="#" data-bind="text: name, click: $parent.selectAdministrativeDistrict.bind(null, $data)"></a>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <!-- /ko -->

            <!-- ko if: activePage() == 2 -->
            <div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>Выберите муниципальный округ</h1>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row table">
                        <!-- ko foreach: municipalities -->
                        <div class="col-xs-12 table-item">
                            <div class="row">
                                <div class="col-xs-12">
                                    <a href="#" data-bind="text: name, click: $parent.selectMunicipality.bind(null, $data)"></a>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <!-- /ko -->

            <!-- ko if: activePage() == 3 -->
            <div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>Выберите субъект муниципального округа</h1>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row table">
                        <!-- ko foreach: municipalSubjects -->
                        <div class="col-xs-12 table-item">
                            <div class="row">
                                <div class="col-xs-12">
                                    <a href="#" data-bind="text: name, click: $parent.selectSubjectMunicipality.bind(null, $data)"></a>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <!-- /ko -->

            <!-- ko if: activePage() == 4 -->
            <div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>Заполните информацию о доме</h1>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <form id="report">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input class="input" type="text" name="name" placeholder="Улица" data-bind="value: street">
                                    </div>

                                    <div class="col-xs-12 margin-top">
                                        <div data-bind="validationElement: streetType">
                                            <select class="width100 margin-top" data-bind="
                                            value: streetType,
                                            options: streetTypes,
                                            optionsText: 'name',
                                            optionsCaption: 'Типы улицы',
                                            dropdown: streetTypes,"data-bind="value: streetType">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 margin-top">
                                        <input class="input" type="text" name="number" placeholder="Номер дома" data-bind="value: houseNumber">
                                    </div>

                                    <div class="col-xs-12 margin-top">
                                        <a href="https://yandex.ru/maps/" target="_blank">Яндекс.Карты</a>
                                    </div>

                                    <div class="col-xs-12 margin-top">
                                        <input class="input" type="text" name="number" placeholder="Строка карты" data-bind="value: mapString">
                                    </div>

                                    <!-- ko if: areas().length > 0 -->
                                    <div class="col-xs-12 margin-top">
                                        <div data-bind="validationElement: area">
                                            <select class="width100 margin-top" data-bind="
                                            value: area,
                                            options: areas,
                                            optionsText: 'name',
                                            optionsCaption: 'Район',
                                            dropdown: areas,">
                                            </select>
                                        </div>
                                    </div>
                                    <!-- /ko -->

                                    <div class="col-xs-12 margin-top">
                                        <button class="button filled" type="submit" form="report" value="Submit" data-bind="click: submit">Добавить МКД</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        <!-- /ko -->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{% static 'web/new/js/select2.min.js' %}"></script>
    <script src="{% static 'web/new/js/jquery.swipebox.js' %}"></script>
    <script src="{% static 'web/new/js/moment.js' %}"></script>
    <script src="{% static 'web/new/js/pikaday.js' %}"></script>
    <script src="{% static 'web/new/js/pikaday.jquery.js' %}"></script>
    <script src="{% static 'web/new/js/index.js' %}"></script>
    <script src="{% static 'web/new/js/remodal.min.js' %}"></script>
    <script src="{% static 'web/new/js/knockout-3.4.1.js' %}"></script>
    <script src="{% static 'web/new/js/knockout.validation.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.datepicker').pikaday({format: 'D.MM.YYYY'});

        });
    </script>

    <script type="text/javascript">
        // список домов
        houseNumbers = [
            {% for house in allowed_houses %}
            {
                id: '{{ house.id }}',
                name: '{{ house.full_name|escapejs }}',
            },
            {% endfor %}
        ]

        // список лет сдачи
        dueYears = [
            {% for year in allowed_years %}
                '{{ year }}',
            {% endfor %}
        ]

        // список номеров контракта СК
        supervisorContracts = [
            {% for contract in supervisor_contracts %}
            {
                id: '{{ contract.id }}',
                name: '{{ contract.number|escapejs }}',
            },
            {% endfor %}
        ]

        // список номеров контракта СМР
        workContracts = [
            {% for contract in builder_contracts %}
            {
                id: '{{ contract.id }}',
                name: '{{ contract.number|escapejs }}',
            },
            {% endfor %}

        ]

        // список типов работ
        workTypes = [
            {% for work_type in work_types %}
            {
                name: '{{ work_type.name }}',
                id: '{{ work_type.id }}',
            },
            {% endfor %}
        ]

        redirectUrl = '{% url 'house_relation_list' %}';

        //add mkd data
        // список МО
        administrativeDistricts = [
            {% for item in districts %}
            {
                id: '{{ item.id }}',
                name: '{{ item.name }}',
            },
            {% endfor %}

        ]

        // список субъектов МО
        municipalDistricts = [
            {
                id: 'someid',
                name: 'Арамильский городской округ',
            },

        ]

        // список типов улиц
        streetTypes = [
            {% for street_type in street_types %}
            {
                id: '{{ street_type.id }}',
                name: '{{ street_type }}',
            },
            {% endfor %}
        ]
    </script>
    <style type="text/css">
        .select2-dropdown {
            z-index: 100000;
        }

        .width100 {
            width: 100%;
        }

        .error + .select2 .select2-container--default .select2-selection--single {
            border: 1px solid #ff757b;
        }
    </style>
{% endblock %}