@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700&subset=cyrillic');

html {
    height: 100%
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #555555;
    background: #ffffff;
    min-height: calc(100% + 120px);
    position:relative;
    min-width: 960px;
    padding-bottom: 130px;
}

body, html, main {

}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}


h1 {
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    font-size: 18px;
    color: #000000;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    font-size: 16px;
    color: #000000;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    font-size: 16px;
    color: #555555;
}


a {
    color: #3F9024;
    letter-spacing: 0;
    transition: .3s;
    text-decoration: none;
}


a:hover {
    color: #333;
}

ol li {
    padding-left: 30px;
    line-height: 2;
}

ol {
    padding: 0 30px;
}


a.active {
    color: #333;
    text-decoration: none;
}

.margin-top-half {
    margin-top: 10px;
}

.margin-top {
    margin-top: 20px;
}

.margin-top-large {
    margin-top: 40px;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.padding-bottom {
    padding-bottom: 30px;
}


/* ---- remodal modal box ----- */

html.remodal-is-locked {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

/* Anti FOUC */

.remodal,
[data-remodal-id] {
    display: none;
    text-align: left;
    background: #ffffff;
}

/* Necessary styles of the overlay */

.remodal-overlay {
    position: fixed;
    z-index: 9999;
    top: -5000px;
    right: -5000px;
    bottom: -5000px;
    left: -5000px;
    display: none;
}

/* Necessary styles of the wrapper */

.remodal-wrapper {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;
    text-align: center;
    -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
    display: inline-block;
    height: 100%;
    margin-left: -0.05em;
    content: "";
}

/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */

.remodal {
    position: relative;
    outline: none;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.remodal-is-initialized {
    display: inline-block;
}


.header {
    background: #64BC47;
    height: 60px;
    padding: 15px 0;
}

.header a {
    color: #ffffff;
}

.header a:hover {
    opacity: .7;
}

.user-link {
    padding: 0 0 0 25px;
    background: url("../img/user.svg") no-repeat;
    margin-right: 30px;
}

.user-logout {
    font-weight: bold;
}

.menu-container {
    background: #F3F8EF;
    padding: 15px 15px;
    transition: .3s;
    max-height: 71px;
    overflow: hidden;
}

.menu-container.is-active {
    max-height: 200px;
}

.menu {
    padding: 15px 15px;
}

.menu a {
    display: inline-block;
    margin: 15px 30px 0 0;
    font-size: 16px;
    text-decoration: underline;
}

.menu-container.stick {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1060;
    -webkit-box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.2);
    background: #f7f7f7;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    overflow: visible;
    color: #000000;
    font-weight: bold;
    margin: 12px 0 0 0;
}
.hamburger:hover {
    color: #555555;
}

.hamburger-box {
    width: 24px;
    height: 15px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 24px;
    height: 2px;
    background-color: #64BC47;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -6px;
}

.hamburger-inner::after {
    bottom: -6px; }

.hamburger span {
    display: block;
    float: right;
    margin: -3px 0 0 10px;
}

.hamburger--spin .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display:none;
}

div .select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

div .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 36px;
    user-select: none;
    -webkit-user-select: none;
    width: 100%;
}

div .select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 36px;
}

div .select2-container .select2-selection--single .select2-selection__clear {
    position: relative;
    line-height: 36px;
}

div .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px;
}

div .select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 36px;
    user-select: none;
    -webkit-user-select: none;
}

div .select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div .select2-container .select2-search--inline {
    float: left;
}

div .select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    padding: 0;
}


div .select2-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 999;
}

div .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999;
}

div .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 30px;
    background: url("../img/arrow-down.svg") no-repeat center;
}


div .select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default;
}

div .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #C9C9C9 transparent;
    border-width: 0 4px 5px 4px;
}

div .select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #C9C9C9;
    border-radius: 4px;
    cursor: text;
}


div .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left;
}

div .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #C9C9C9;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}

div .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
}


div .select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #eee;
    cursor: default;
}

div .select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #C9C9C9;
}

div .select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
}

div .select2-container--classic .select2-selection--single {
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: 0;
    background-image: -webkit-linear-gradient(top, white 50%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, white 50%, #eeeeee 100%);
    background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

div .select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
}

div .select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999;
}

div .select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #F3F8EF;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
    background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
    background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);
}

ul li.select2-results__option.select2-results__option--highlighted:hover {
    background: #64BC47;
}

ul li.select2-results__option.select2-results__option--highlighted[aria-selected] {
    background: #64BC47;
}

.button {
    display: block;
    border: 1px solid #3F9024;
    min-width: 220px;
    border-radius: 4px;
    float: left;
    text-align: center;
    padding: 5px 20px;
    margin: 0 30px 0 0;
    line-height: 25px;
}

.button.filled {
    background: #64BC47;
    color: #ffffff;
    border: #64BC47;
    transition: .3s;
}

.button:hover {
    display: block;
    border: 1px solid #64BC47;
    min-width: 220px;
    border-radius: 4px;
    float: left;
    text-align: center;
    margin: 0 30px 0 0;
    color: #ffffff;
    background: #64BC47;
}

.button.filled:hover {
    background: #3F9024;
    color: #ffffff;
    border: #3F9024;
}

.button.filled.submit {
    width: 100%;
    min-width: 100px;
}

.notifications {
    display: block;
    padding: 10px 0 10px 30px;
    background: url("../img/notifications.svg") no-repeat left center;
    float: right;
    color: #E2444B;
    font-weight: bold;
}

.notifications.new {
    background: url("../img/notifications-filled.svg") no-repeat left center;
}

.dropdown {
    width: 100%;
    max-width: 100%;
}

.input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #C9C9C9;
    min-height: 36px;
    padding: 0 10px;
}

.input:disabled {
    background: #eeeeee;
}

.input.error {
    border: 1px solid #FF757B;
}

.error .select2-container .select2-selection--single {
    border: 1px solid #FF757B;
}

.datepicker.error {
    border: 1px solid #FF757B;
}

p.error {
    color: #E2444B;
    display: inline-block;
    margin: 15px 0 0 0;
}

.textarea {
    padding: 5px 10px;
}

.table {
    border-top: 1px solid #C9C9C9;
    border-bottom: 1px solid #C9C9C9;
    position: relative;
}

.table-item {
    padding: 20px 15px 20px 15px;
    position: relative;
}

.table-item p {
    margin: 10px 0 0 0;
}

.table .table-item:nth-child(2n+1){
    background: #F3F8EF;
}

.table-item a {
    font-weight: bold;
}

.table-item a.add-report {
    font-weight: 400;
    text-decoration: underline;
}


.pagination {
    display: inline-block;
}

.pagination a {
    color: #ffffff;
    min-width: 30px;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    border-radius: 4px;
    background-color: #64BC47;
    margin-right: 10px;
    text-align: center;
}

.pagination span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
}

.pagination a.active {
    color: #000000;
    border-radius: 4px;
    background: #F7F7F7;
}

.pagination a:hover:not(.active) {
    background-color: #3F9024;
}

.pagination a.active:hover {
    background-color: #C9C9C9;
}

.footer {
    padding: 15px 15px;
    background: #F3F8EF;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.breadcrumbs {
    background: #F3F8EF;
    padding: 10px 0;
    margin: 0;
}

.breadcrumbs ul {
    margin: 0;
    padding: 0 15px;
}

.breadcrumbs li {
    float: left;
    list-style: none;
    margin: 0 15px 15px 0;
}

.breadcrumbs li:before {
    display: none;
}

.breadcrumbs li:after {
    content: " ";
    display: block;
    float: right;
    width: 8px;
    height: 14px;
    background: url("../img/arrow-right.svg");
    margin: 3px 0 0 15px;
}

.breadcrumbs li a {
    text-decoration: none;
}

.breadcrumbs li:last-child:after {
    display: none;
}

.breadcrumbs li:last-child a {
    color: #555;
}

.tab {
    float: left;
    margin: 0 30px 20px 0;
    cursor: pointer;
    padding:0 ;
    height: 36px;
    line-height: 31px;
    overflow: hidden;
    position: relative;
    border-bottom: 4px solid #C9C9C9;
    transition: .3s;
    color: #555555;
}


.tab:hover  {
    border-bottom: 4px solid #3F9024;
}

.tab.active {
    display: block;
    border-bottom: 4px solid #64BC47;
}

.tab_container {
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    overflow: auto;
}

.tab_content {
    display: none;
    padding: 15px;
}

.tab_drawer_heading { display: none; }

.tab_content .table-item {
    padding: 15px 0 10px 0;
}


.table-item.row {
    padding: 15px 0 10px 0;
}

.progress {
    width: 160px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
    background: #D8D8D8;
}

.progress span {
    display: block;
    height: 10px;
    background: #64BC47;
}

.js-link a {
    font-weight: 400;
    border-bottom: 1px dashed;
}

.js-link span {
    font-weight: 400;
    border-bottom: 1px dashed;
    color: #3F9024;
}

.js-link img {
    margin-right: 10px;
}

div.row.old-reports {
    max-height: 80px;
}

.card {
    padding: 0 15px;
    margin-bottom: 20px;
}

.card .content {
    background: #F3F8EF;
    padding: 15px;
    border-radius: 4px;
}

.card .content a {
    font-weight: bold;
    margin-left: 10px;
    line-height: 30px;
}

.more-less span {
    border-bottom: 1px dashed #3F9024;
}

.delete {
    display: block;
    width: 16px;
    height: 24px;
    margin-top: 20px;
    right: 15px;
    background: url("../img/delete.svg") no-repeat center;
    float: right;
}

.delete:hover {
    background: url("../img/delete-hover.svg") no-repeat center;
}

.cleardate {
   margin: 5px -30px 0 0;
}

.add-house-btn {
    display: block;
    text-align: center;
    line-height: 36px;
    height: 36px;
    width: 100%;
    border: 1px solid #C9C9C9;
    border-radius: 4px;
    font-size: 16px;
}

.work-type {
    line-height: 36px;
}

.submenu a {
    display: block;
    float: left;
    margin: 20px 30px 0 0;
    text-decoration: underline;
}

.submenu a.active {
    text-decoration: none;
}


.photo {
    height: 250px;
    overflow: hidden;
    position: relative;
}

.photo a.swipebox {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 250px;
}

.photo img {
    max-width: 100%;
    min-height: 100%;
}

.photo div {
    position: absolute;
    padding: 15px;
    bottom: 0;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.50) 100%);
    width: calc(100% - 30px);
}

.star {
    display: block;
    float: left;
    margin: 0 10px 0 0 ;
    width: 18px;
    height: 18px;
    background: url("../img/star.svg") no-repeat center;
}

.star.filled {
    background: url("../img/star-filled.svg") no-repeat center;
}

.add-to-favourites, .delete-from-favourites {
    color: #fff;
    text-decoration: underline;
}

.in-favourites {
    color: #fff;
}

.add-to-favourites:hover, .delete-from-favourites:hover {
    color: #C9C9C9;
}

.in-favourites:hover {
    color: #fff;
}

.delete-from-favourites {
    display: block;
    float: right;
}