{% extends 'web/new/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'web/new/css/jquery.fileuploader.css' %}">
    <link rel="stylesheet" href="{% static 'web/new/css/jquery.fileuploader-theme-thumbnails.css' %}">
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'index' %}">Главная</a></li>
    <li><a href="#">Добавление отчета</a></li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>Многоквартирные дома</h1>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <form id="report" data-bind="submit: submit">
                    <div class="row">
                        <!-- ko foreach: workTypes -->
                        <div class="col-xs-12" data-bind="validationElement: percent">
                            <h3 data-bind="text: name"></h3>

                            <select class="width100" data-bind="
                                    value: percent,
                                    options: $parent.percents,
                                    optionsCaption: 'Процент выполнения',
                                    dropdown: percents,
                                ">
                            </select>

                            <textarea class="input textarea margin-top" placeholder="Текст комментария" rows="5" data-bind="textInput: comment"></textarea>

                            <p>Перетащите фотографии в область ниже мышкой или нажмите «+»</p>

                            <input type="file" name="image" data-bind="fileuploader, attr: {id: 'images_'+id()}">
                        </div>
                        <!-- /ko -->

                        <div class="col-xs-12 margin-top">
                            <h3>Общий комментарий</h3>
                            <textarea class="input textarea" placeholder="Текст комментария" rows="5" data-bind="textInput: generalComment"></textarea>
                        </div>

                        <div class="col-xs-12 margin-top">
                            <button id="submit" class="button filled" type="submit" form="report" value="Submit">Отправить отчет
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-xs-5 col-xs-offset-1">
                <p>
                    В случае понижения процента выполнения по конкретному типу работ поле комментария является обязательным к заполнению.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'web/new/js/jquery.fileuploader.min.js' %}"></script>
    <script src="{% static 'web/new/js/knockout-3.4.1.js' %}"></script>
    <script src="{% static 'web/new/js/knockout.validation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'web/new/js/create_report.js' %}"></script>

    <script type="text/javascript">
        var has_errors = false;
        function formValidation() {
            has_errors = false;
            $('.report-work-type').each(function (i, elem) {
                var old_percent = $(elem).find('.old_percent').val()
                var new_percent = $(elem).find('.dropdown').val()
                var comment = $(elem).find('.textarea').val()

                if (parseInt(old_percent) > parseInt(new_percent) && !comment) {
                    $(elem).addClass('error');
                    has_errors = true;

                }
            })

            return !has_errors

        }
    </script>

    <script type="text/javascript">

        // данные по типам работ
        workTypesData = {{ data_json|safe }};

        redirectUrl = '{% url 'house_card' house.id %}';

        house_id = '{{ house.id }}';
    </script>

    <style type="text/css">
        .select2-dropdown {
            z-index: 100000;
        }

        .width100 {
            width: 100%;
        }

        .error + .select2 .select2-container--default .select2-selection--single {
            border: 1px solid #ff757b;
        }
    </style>

{% endblock %}
